---
import BaseLayout from '../layouts/BaseLayout.astro';
import {SITE_DESCRIPTION} from "../consts.ts";
---

<BaseLayout title="Home" description={SITE_DESCRIPTION}>
	<h1>Hi there!</h1>
	<p>This website is still undergoing construction. Now, do we have <b>bold</b> and <i>italic</i>?</p>
</BaseLayout>
