---
/*
 * Copyright (c) 2026 f78.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

import BaseLayout from "../layouts/BaseLayout.astro";
import Badge from "../components/Badge";
import PreferencesDisplay from "../components/preferences/PreferencesDisplay.astro";
import { PreferencesButtons } from "../components/preferences/PreferencesButtons";
---

<BaseLayout>
	<h1>
		Preferences
		<Badge type="beta" />
	</h1>
	<p>
		Lots of settings for you to tweak this website to your liking. These are very much a
		work-in-progress, so expect issues to arise.
	</p>
	<PreferencesButtons client:load />
	<PreferencesDisplay />
	<PreferencesButtons client:load />
</BaseLayout>

<style lang="scss">
	@use "../styles/utils" as *;

	:global(main) {
		padding-bottom: $page-margin;
	}

	h1 {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: size(12);
	}
</style>
