---
/*
 * Copyright (c) 2026 f78.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

// Formats a date to display to the user.

import { SITE_LANGUAGE } from "../consts.ts";
import FluentCalendarEmpty20Regular from "~icons/fluent/calendar-empty-20-regular";

interface Props {
	date: Date;
	format?: Intl.DateTimeFormatOptions;
}

const { date, format = { dateStyle: "medium" }, ...cid } = Astro.props;
const isValidDate = isFinite(date.valueOf());

// TODO: add relative time on the client
---

<p class="formatted-date" {...cid}>
	<slot name="icon">
		<FluentCalendarEmpty20Regular />
	</slot>
	<slot name="before" />
	<time datetime={isValidDate ? date.toISOString() : undefined}>
		{date.toLocaleDateString(SITE_LANGUAGE, format)}
	</time>
	<slot name="after" />
</p>
