---
/*
 * Copyright (c) 2026 f78.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

// A (currently simple) audio player.

import type { MediaInfo, Replace } from "../../types.ts";
import type { HTMLAttributes } from "astro/types";
import { getFileName, resolveMedia } from "../../server-utils";
import LicenseNotice from "./utils/LicenseNotice.tsx";

type Props = Replace<HTMLAttributes<"audio">, MediaInfo>;

const { src, license = "CC-BY-SA-4.0", ...props } = Astro.props;
const resolvedSrc = await resolveMedia(src);
const baseName = getFileName(resolvedSrc);
---

<figure>
	<audio src={resolvedSrc} controls preload="metadata" {...props}>
		{
			resolvedSrc && (
				<p>
					Can't play this back?
					<a href={resolvedSrc} download={baseName}>
						Download the audio file here.
					</a>
				</p>
			)
		}
	</audio>
	<figcaption>
		<slot />
		<LicenseNotice license={license} {...props} />
	</figcaption>
</figure>
