---
/*
 * Copyright (c) 2026 f78.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

// A (currently simple) video player.

import type { HTMLAttributes } from "astro/types";
import type { MediaInfo, Replace } from "../../types.ts";
import { getFileName, resolveMedia } from "../../server-utils";
import LicenseNotice from "./utils/LicenseNotice.tsx";

type Props = Replace<
	HTMLAttributes<"video">,
	MediaInfo & {
		/** The width of the video in pixels. This is enforced for now to prevent layout shift. */
		width: number;

		/** The height of the video in pixels. This is enforced for now to prevent layout shift. */
		height: number;
	}
>;

const { src, license = "CC-BY-SA-4.0", ...props } = Astro.props;
const resolvedSrc = await resolveMedia(src);
const baseName = getFileName(resolvedSrc);
---

<figure>
	<video src={resolvedSrc} controls preload="metadata" {...props}>
		{
			resolvedSrc && (
				<p>
					Can't play this back?{" "}
					<a href={resolvedSrc} download={baseName}>
						Download the video file here.
					</a>
				</p>
			)
		}
	</video>
	<figcaption>
		<slot />
		<LicenseNotice license={license} {...props} />
	</figcaption>
</figure>

<style lang="scss">
	video {
		max-width: 100%;
		height: auto;
	}
</style>
