---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
	/** If present, turns this link into a link that opens with a new tag. */
	external?: boolean;

	/** If present, the icon for external links will not be added. This does not affect the {@linkcode icon} property. */
	noIcon?: boolean;

	/** The icon(s) to display to the left of the link. */
	icon?: string | string[];
}

const { external, noIcon, icon: icons, ...props } = Astro.props;
if (external) {
	props.target ??= "_blank";
	props.rel ??= "noopener noreferrer";
}
---

<a tabindex="0" class:list={{ "has-icon": icons !== undefined }} {...props}>
	{
		Array.isArray(icons) ?
			icons.map(icon => <Icon name={icon} class="icon" />) :
			icons && <Icon name={icons} class="icon" />
	}
	<slot />
	{external && !noIcon && <Icon name="fluent:open-16-regular" class="external-icon" />}
</a>

<style lang="scss">
	@use "../../styles/utils" as *;

	a {
		display: inline-flex;
		align-items: center;
		gap: size(4);

		&.has-icon {
			vertical-align: middle;
		}
	}

	.icon {
		font-size: 1.25em;
		margin-bottom: size(1);
	}

	.external-icon {
		margin-left: size(-1);
		margin-bottom: size(2);
	}
</style>
