---
/*
 * Copyright (c) 2026 f78.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

// Component for links in text content

import type { HTMLAttributes } from "astro/types";
import FluentOpen16Regular from "~icons/fluent/open-16-regular";
import DynamicIcon from "../media/DynamicIcon.astro";

interface Props extends HTMLAttributes<"a"> {
	/** If present, marks this link as external. */
	external?: boolean;

	/** If present, the icon for external links will not be added. This does not affect the {@linkcode icons} property. */
	noIcon?: boolean;

	/**
	 * The icon(s) to display to the left of the link.
	 *
	 * Only use this if you absolutely need dynamic icons, as it can have an impact on server performance.
	 * Import the icon using `unplugin-icons` and add it as a child wherever possible.
	 */
	icons?: string[];
}

const { external, noIcon, icons, ...props } = Astro.props;

if (external) {
	props.rel ??= "nofollow noopener noreferrer";
}
---

<a tabindex="0" rel="" {...props}>
	{icons?.map((icon) => <DynamicIcon name={icon} />)}
	<slot />{
		external && !noIcon &&
			/* prettier-ignore */ <span class="external-icon"><FluentOpen16Regular /></span>
	}</a
>
